fastapi
uvicorn[standard]
python-dotenv
requests
msal
python-docx
azure-identity
azure-ai-agents
pydantic
pyodbc
openai
pypdf
docx2txt
azure-search-documents
azure-core
azure-keyvault-secrets
pyjwt
pdfplumber
